body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.hero {
    position: relative;
    height: 90vh;
 background: url('DSC09747.jpg') center/cover no-repeat;
 center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.cta-btn {
    padding: 12px 24px;
    background: #8b5e3c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.services {
    padding: 60px 20px;
    text-align: center;
}

.service-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service-card {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
